[submodule "NanoBoost-FRONTEND"]
    path = NanoBoost-FRONTEND
    url = git@github.com:KevinEJean/NanoBoost-FRONTEND.git

[submodule "NanoBoost-BACKEND"]
    path = NanoBoost-BACKEND
    url = git@github.com:KevinEJean/NanoBoost-BACKEND.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:KevinEJean/NanoBoost-FRONTEND.git
[submodule "backend"]
	path = backend
	url = git@github.com:KevinEJean/NanoBoost-BACKEND.git
